@media (min-width: 768px) {
  #navbarMenu {
    display: none !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.navbar {
  background-color: white;
}

.navbar-nav {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;  
}

.navbar-nav li {
  padding-right: 30px; 
}

.navbar-toggler {
  color: black;
  font-size: 20px; 
}

.navbar-toggler:hover {
  color: black; 
}

.navbar-collapse {
  font-size: 12px;
  font-weight: 600;
}

#navbarMenu {
  background-color: white; 
  text-align: center; 
  width: 50px;
  position: relative; 
  padding-left: 44px;  
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("./images/IMG_7077.JPG"); 
  background-size: cover;
}

#hero h1 {
  font-size: 64px;
  font-family: "Satisfy", serif;
  text-align: center;
  color: black;  
}

#hero h2 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: black; 
}

.hero-textbox {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  padding-top: 15px; 
  padding-right: 30px; 
  padding-left: 30px; 
  padding-bottom: 60px;
}