@media (min-width: 768px) {
  #navbarMenu {
    display: none !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.navbar {
  background-color: white;
}

.navbar-nav {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;  
}

.navbar-nav li {
  padding-right: 30px; 
}

.navbar-toggler {
  color: black;
  font-size: 20px; 
}

.navbar-toggler:hover {
  color: black; 
}

.navbar-collapse {
  font-size: 12px;
  font-weight: 600;
}

#navbarMenu {
  background-color: white; 
  text-align: center; 
  width: 50px;
  position: relative; 
  padding-left: 44px;  
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("./images/IMG_7077.JPG"); 
  background-size: cover;
}

#hero h1 {
  font-size: 64px;
  font-family: "Satisfy", serif;
  text-align: center;
  color: black;  
}

#hero h2 {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: black; 
}

.hero-textbox {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  padding-top: 15px; 
  padding-right: 30px; 
  padding-left: 30px; 
  padding-bottom: 60px;
}

section {
  padding-top: 50px; 
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 15px;
  color: black; 
  position: relative;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}

.description {
  margin-top: 20px;
  color: black; 
  font-weight: 500; 
}

.projects h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: black; 
  text-align: center;
}

.projects {
  margin-top: -25px;  
}

.projects img {
  padding: 20px; 
}

.projects p {
  text-align: center; 
  color: black; 
}